$color-text-dark: #2d2d2d;
$color-text-light: #ffffff;
$color-hover: #ff9900;
$color-hover-transparent: rgba(255, 153, 0, 0.8);
$color-background-dark: rgba(0, 0, 0, 0.5);
$color-background-light: rgba(255, 255, 255, 0.1);
$fonts-body: "Junge Regular", "Times New Roman", Georgia, serif;
